## for loops

In [6]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1,10):
    for j in range(0,i):
        print(j,end='')
    print(" ")

0
01
012
0123
01234
012345
0123456
01234567
012345678

In [12]:
i=1
num=int(input("enter the number you want the table for:"))
while i<=10:
    print(i*num)
    i=i+1

enter the number you want the table for: 10

10
20
30
40
50
60
70
80
90
100

In [13]:
num=10
for i in range (1,11):
    print(num*i)

10
20
30
40
50
60
70
80
90
100

In [14]:
fruits=["mango","apple","banana"]
for x in fruits:
    print(x)

mango
apple
banana

In [15]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [19]:
for i in range (0,101,50):
    print(i)

0
50
100